body {
    background-color: rgb(255, 62, 62);

    .container {
        max-width: 60rem;
        margin: 0 auto;

        .cards-container {


            display: flex;

            .card {
                margin: 20rem 1.5rem 2rem 1.5rem;
                background-color: white;
                box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.814);


                .img {
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    height: 40%;

                    .card-content {
                        padding: 10rem 1rem 0rem 1rem;

                        h2 {
                            font-size: 2rem;
                            margin: 0;
                        }
                    }


                }

            }
        }
    }


}